body{
    background-color:#f2f1ec;
}

img{
    width:250px;
    float:left;
    margin:2px 0px 2px 200px;
    border:5px solid #1d4355;
    
}

#topper{
    height:320px;
    background-color:#365b6d;
}

button{
    background-color:#f2f1ec;
    color:#1d4355;
    border-radius:10px;
    padding:10px 20px 10px 20px;
    font-family: 'Montserrat', sans-serif;
}

#button-container{
    text-align:center;
    color:#f2f1ec;
}

button:hover{
    background-color:#289dd2;
}

h1{
    text-align:center;
    color:white;
    font-size:100px;
    font-family: 'Montserrat', sans-serif;
}

h2{
    text-align:center;
    color:white;
    font-size:50px;
    font-family: 'Montserrat', sans-serif;
}

h3{
    color:#365b6d;
    font-family: 'Montserrat', sans-serif;
}

h4{
    color:#365b6d;
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 
}

.nav{
    justify-content:center;
}

.nav a{
    color:#365b6d;
}

.nav a:hover{
    color:black;
    text-decoration:underline;
}

#about-container{
    border-bottom: 2px dotted #1d4355;
}

#education-container{
    border-bottom: 2px dotted #1d4355;
}

#experience-container{
    border-bottom: 2px dotted #1d4355;
}

#skills-container{
    border-bottom: 2px dotted #1d4355;
}

#skills-list{
    color:#365b6d;
}

p{
    color:#365b6d; 
    text-align:left;
    font-family: 'Montserrat', sans-serif;
}

ul{
    font-family: 'Montserrat', sans-serif;
    color:#365b6d; 
}

#footer{
    color:#365b6d; 
    text-align:left;
    font-family: 'Montserrat', sans-serif;
}